<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>查询专业班级</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" />
</head>
<body>
<form name="frm" action="{:U('/BackgroundAdmin/Index/queryclass')}" method="post">
	<table class="table" width="100%">
		<tr>
			<td class="th" colspan="10">审核测评{$pclass_name}</td>
		</tr>
		<tr>
			<td align="center" valign="middle" width="20%">学号</td>
			<td align="center" valign="middle" width="20%">姓名</td>
			<td align="center" valign="middle" width="20%">班级是否完成审核</td>
			<td align="center" valign="middle" width="20%">是否完成评测</td>
			<td align="center" valign="middle" width="20%">操作</td>
		</tr>
		<foreach name="user" item="vo">
			<tr>
				<td align="center" valign="middle" width="20%">{$vo.user_number}</td>
				<td  align="center" valign="middle" width="20%">{$vo.user_name}</td>
				<if condition='$vo.basetwograde_state eq 1'>
					<td class="font" align="center" valign="middle" width="20%">未完成</td>
					<else/>
					<td  align="center" valign="middle" width="20%">完成</td>
				</if>
				<if condition='$vo.isoff eq -1'>
					<td class="font" align="center" valign="middle" width="20%">未完成</td>
					<else/>
					<td  align="center" valign="middle" width="20%">完成</td>
				</if>

				<td align="center" valign="middle" width="20%">
				
				<if condition='$vo.isoff eq -1'>
					<a class="detail"  href="javascript:;">该同学未自评</a>
				<else/>
					<a class="change" href="{:U('/BackgroundAdmin/Index/audit',array('user_id'=>$vo['user_id']))}">开始审核</a>
				</if>
				</td>
			</tr>
		</foreach>
	</table>
</form>
</body>
</html>